<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户</title>
</head>
<body>
<form method="post" class="ui form" action="/userInput">
    <input type="hidden" name="id" value="${(user.id)!}">
    姓名：<input type="text" name="userName" value="${(user.userName)!}"></br>
    年龄：<input type="text" name="userAge" value="${(user.userAge)!}"></br>
    地址：<input type="text" name="userAddress" value="${(user.userAddress)!}"></br>
    <input type="submit" value="提交">
</form>
</body>
</html>
